@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black; /*par défaut claire */
  font-family: Arial, Helvetica, sans-serif;
}

/* sombre */
body.dark {
  @apply bg-gray-900 text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #ffffff; /* Couleur claire */
    --foreground: #000000; /* Texte clair */
    --border: #e5e7eb; /* Couleur des bordures claire */
  }

  .dark {
    --background: #1a1a1a; /* Couleur sombre */
    --foreground: #f5f5f5; /* Texte sombre */
    --border: #4b5563; /* Couleur des bordures sombre */
  }

  /* Appliquez les couleurs définies */
  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }

  * {
    border-color: var(--border);
  }
}
button {
  transition: background-color 0.3s, color 0.3s;
}
